* {
  box-sizing: border-box;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
}

#pixi-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#dom-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.scene-field {
  height: 100%;
  width: 100vh;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  --width-cells: 40;
  grid-template-columns: repeat(var(--width-cells), calc(100vh/40));
  /* grid-auto-columns: calc(100vh/40); */
  grid-template-rows: repeat(40, 1fr);
  /* grid-gap: 1px; */
}

#player {
  grid-area: 2 / 2 / 3 / 3;
  width: 20px;
  height: 20px;
}

#world-border-up {
  grid-area: 1 / 1 / 2 / calc(var(--width-cells) + 1);
  /* background-color: gray; */
}

#world-border-right {
  grid-area: 2 / var(--width-cells) / 40 / calc(var(--width-cells) + 1);
  /* background-color: gray; */
}

#world-border-down {
  grid-area: 40 / 1 / 41 / calc(var(--width-cells) + 1);
  /* background-color: gray; */
}

#world-border-left {
  grid-area: 2 / 1 / 40 / 2;
  /* background-color: gray; */
}

.horizontal-wall {
  flex-direction: row;
}
.horizontal-wall .object {
  height: 100%;
  width: 10%;
}
.vertical-wall {
  flex-direction: column;
}
.vertical-wall .object {
  height: 10%;
  width: 100%;
}
.wall {
  border: 1px solid transparent;
  cursor: pointer;
}
.wall:hover {
  border: 1px solid limegreen;
}
.wall-1 {
  grid-area: 2 / 5 / 11 / 6;
  display: flex;
  justify-content: space-evenly;
}
.wall-2 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
}
.wall-3 {
  grid-area: 7 / 7 / 8 / 11;
  display: flex;
  justify-content: flex-end;
}
.wall-4 {
  grid-area: 12 / 2 / 13 / 20;
  display: flex;
  justify-content: flex-end;
}
.wall-5 {
  grid-area: 9 / 13 / 10 / 16;
  display: flex;
  justify-content: flex-end;
}


/* Objects. */

.object {
  /* height: 10%; */
  /* width: 10%; */
  /* background-color: red; */
  /* border: 1px solid lightgray; */
  cursor: pointer;
}
.object:hover {
  border: 1px solid limegreen;
}
.object.collectable {
  /* background-color: blue; */
}

.object-1 {
  grid-area: 8 / 10 / 9 / 11;
}