/* #world-border-up {
  grid-area: 1 / 1 / 2 / calc(var(--width-cells) + 1);
} */
#world-border-right {
  grid-area: 1 / var(--width-cells) / 40 / calc(var(--width-cells) + 1);
}
#world-border-down {
  grid-area: 40 / 1 / 41 / calc(var(--width-cells) + 1);
}
#world-border-left {
  grid-area: 1 / 1 / 40 / 2;
}

#inner-top {
  grid-area: 14 / 21 / 15 / 41;
}
#inner-right {
  grid-area: 15 / 40 / 28 / 41;
}
#inner-bottom {
  grid-area: 28 / 21 / 29 / 41;
}
#inner-left {
  grid-area: 15 / 21 / 28 / 22;
}

.wall {
  border: 1px solid transparent;
  cursor: pointer;
}
.wall:hover {
  border: 1px solid limegreen;
}